name: build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 18.x

      - name: Install npm dependencies
        run: npm install

      - name: Run build
        run: npm run build

      - name: Upload build
        uses: actions/upload-artifact@v5
        with:
          name: build
          path: ./build/
